<div class="topic-index-wrapper">
  <div class="container">
    <% current_user.groups.each do |group| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= form_for @group_user,url: group_users_create_path do |f| %>
                <div class="form-group">
                  <%= f.hidden_field :group_id, :value => group.id %>
                  <%= f.hidden_field :user_id %>
                </div>
              　<%= f.submit group.name, class: 'btn btn-black btn-block' %>
              <% end %>
            </h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>